.checkout-container {
    display: flex;
    justify-content: space-between;
    font-family: 'Arial', sans-serif;
    padding: 20px;
}
.checkout-content, .order-summary {
    flex-basis: 48%;
    padding: 40px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(203, 201, 201, 0.9);
    background-color: #fff;
    margin: 20px;
}
.checkout-tabs {
    display: flex;
    margin-bottom: 20px;
}
.checkout-tab {
    flex-grow: 1;
    text-align: center;
    padding: 10px 20px;
    cursor: pointer;
    border: 1px solid #ddd;
    border-radius: 4px;
    margin-right: 5px;
    background-color: #f9f9f9;
    transition: all 0.3s ease;
}
.checkout-tab.active {
    background-color: #393938;
    color: white;
    border-color: #ffb300;
}
.checkout-tab-content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.checkout-tab-content h3 {
    margin-bottom: 15px;
    color: #333;
}
.radio-option {
    display: flex;
    align-items: center;
    margin-bottom: 10px;
    width:80%;
}

.radio-option label {
    flex-grow: 1;
    width:80%;
}

.checkout-tab-content input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border-radius: 4px;
    border: 1px solid #ccc;
    box-sizing: border-box;
}
.checkout-tab-content radio{
    margin-right: 10px
}
.CheckoutLogo {
    padding-top: 30px;
    margin: 10px auto;
    display: flex;
    align-items: center;
    justify-content: center; 
    width: 100%; 
}
.CheckoutLogo img{
    width: 300px;
}
.checkout-tab-content input:focus {
    outline: none;
    border-color: #ff7300;
    box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}
.place-order-button {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    background-color: #131313;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.place-order-button:hover {
    background-color: #5f6264;
}
.order-summary h3 {
    margin-bottom: 15px;
}

.order-summary ul {
    list-style: none;
    padding: 0;
    margin: 0 0 15px 0;
}

.order-summary ul li {
    margin-bottom: 5px;
    line-height: 1.5;
}

.order-summary p {
    font-weight: bold;
}

@media (max-width: 600px) {
    .checkout-container {
        flex-direction: column;
    }

    .checkout-content, .order-summary {
        flex-basis: 100%;
    }
}