
.forgot-password-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    text-align: center;
  }
  
  .forgot-password-form-group {
    display: flex;
    flex-direction: column;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 4px;
    margin-bottom: 10px;
    width: auto;
  }
  
  .forgot-password-form-input {
    width: 100%;
    padding: 10px;
    border: none;
    outline: none;
    margin-bottom: 10px;
  }
  
  .forgot-password-submit-button {
    background-image: linear-gradient(to right, #3322f1, #F15A22, #f87241);
    width: auto;
    color: #fff;
    padding: 10px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: 0.5s;
    font-size: 1rem;
    text-transform: uppercase;
    margin-top: 10px;
  }
  
  .forgot-password-title {
    margin-bottom: 40px;
    font-size: 2.5rem;
    color: #191818;
    padding-bottom: 10px;
  }
  
  .forgot-password-subtitle {
    font-size: 1.6rem;
    color: #253752;
    padding-bottom: 20px;
  }
  
  .forgot-password-description {
    font-size: 12px;
  }
  

  .forgot-password-go-back-button {
    text-decoration: none;
    background-color: #aeaaa8;
    color: #fff;
    padding: 5px 5px;
    border-radius: 5px;
    font-size: 0.7rem;
    text-transform: uppercase;
    display: flex;
    margin-top: 20px;
  }
  
  .forgot-password-go-back-button:hover {
    background-color:  #383a39;
    transition: background-color 0.3s;
  }
  
  .forgot-password-go-back-button svg {
    margin-right: 5px;
  }
  
  
  
  
  
  
  