.ForAllTheInformationInTestScreen {}


.HeroImage img {
    width: 100%;
    justify-content: center;
}

.SampleProductsContainer {

    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 10px;
    padding: 10px;
    justify-content: center;
}


.ProductCard {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    overflow: hidden;

}

.ProductCard img {
    padding-top: 20px;
    max-width: 100%;
    height: auto;
    object-fit: cover;
    border-radius: 5px;
}

.ProductCard .product-details {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.ProductCard .product-name,
.ProductCard .product-description,
.ProductCard .product-info {
    font-size: 0.8em;
    overflow: hidden;
    text-overflow: ellipsis;

}


.ProductCard .icons,
.icon-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 5px;
}

.fa-heart,
.fa-trophy {
    font-size: 1.2em;
    margin: 0 5px;
}


.TitleContainerH1Only {
    padding: 10px;
    text-align: center;
}

.SortBy {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    position: relative;
    padding-left: 20px;
}

.sortbyLabel  {
    margin-right: 10px; 
    font-weight: bold; 
    color: #333; 
    padding-left: 20px;
}

.SortBy .combobox-wrapper {
    position: relative;
    display: flex;
    align-items: center;
    background-color: #FFF;
    border: 1px solid #a2a5a8;
    box-shadow: 0 2px 4px rgba(234, 232, 232, 0.1);
    width: 150px; 
    height: 39px;
}

.SortBy input[type="text"] {
    flex-grow: 1;
    width: 130px;
    padding: 10px;
    border: none;
    font-size: 15px;
    color: #333; /* Text color */
    background-color: transparent;
}

.SortBy .arrow {
    cursor: pointer;
    padding: 10px;
    background-color: #e9e9eb;
    border-left: 1px solid #ccc;
   
}

.SortBy .arrow::before {
    content: '';
    border-style: solid;
    border-width: 5px 5px 0 5px;
    border-color: #0C2340 transparent transparent transparent; 
    display: inline-block;
}

.SortBy .arrow.open::before {
    transform: rotate(180deg);
}

.SortBy ul {
    list-style-type: none;
    padding: 0px;
    
    margin: 0;
    position: absolute;
    top: calc(100% + 2px); 

    background-color: white;
    border: 1px solid #ccc;
    border-top: none;
    z-index: 1000;
    max-height: 200px;
    overflow-y: auto;
    border-bottom-left-radius: 8px;
    border-bottom-right-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}


.SortBy li {
    padding: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.SortBy li:hover {
    background-color: #f0f0f0;
}



.category-container {
    display: flex;
    overflow-x: auto;
    gap: 10px;
    padding: 20px;
    scrollbar-width: thin;
    -ms-overflow-style: none;
}

.category-container::-webkit-scrollbar {
    display: none;
}

.category-card {
    flex: 0 0 auto;
    padding: 10px;
    margin: 0 5px;
    background-color: #f9f9f9;
    text-align: center;
    cursor: pointer;
    user-select: none;
}

.category-card:hover {
    background-color: #e9e9e9;
}


.ConatinerForSearchBoxAndFilter {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


.Pagination {
    display: flex;
    justify-content: center;
    padding: 20px;
}

.Pagination button {
    border: none;
    padding: 10px 15px;
    margin: 0 5px;
    background-color: #f0f0f0;
    color: #333;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s;
}

.Pagination button:hover,
.Pagination button.active {
    background-color: #2c2d2e;
    color: #fff;
}

.Pagination button:disabled {
    background-color: #ccc;
    cursor: not-allowed;
}


@media screen and (max-width: 1024px) {

    .category-card {
        padding: 8px;
        font-size: 0.9em;

    }
}

@media screen and (max-width: 768px) {


    .category-container {
        gap: 10px;
        padding: 15px;
    }

    .category-card {
        padding: 6px;
        font-size: 0.8em;

    }
}

@media screen and (max-width: 480px) {

    .category-container {
        gap: 8px;
        padding: 10px;
    }

    .category-card {
        padding: 5px;
        font-size: 0.7em;

    }
}