.MainContainerForMainMenu{
    text-align: center;
}

.ContainerForTestingLinks{
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.LinksForTesting {
    text-align: center;
    list-style: none;
    padding: 0;
    display: flex;
    justify-content: center; /* Center horizontally */
    align-items: center;     /* Center vertically */
}
  
.LinksForTesting li {
    margin-right: 10px;
}
