.SampleProductsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    /* Add any other styling for your ProductCard here */
}

.TitleContainer{
    text-align: center;
}

.ProductCard {
    flex-basis: calc(25% - 10px);
    margin-bottom: 20px;
    /* Add any other styling for your ProductCard here */
}

.Pagination {
    margin-top: 20px;
    margin-bottom: 20px; /* Add margin to the bottom of the Pagination element */
    display: flex;
    justify-content: center;
    align-items: center;
}

.Pagination button {
    padding: 5px 10px;
    margin: 0 5px;
    border: 1px solid #ccc;
    background-color: #fff;
    cursor: pointer;
    border-radius: 5px;
}

.Pagination button:hover {
    background-color: #f0f0f0;
}
