.MainContainerForWishlistScreen{
    text-align: center;
}

.ProductsInWishlistContainer{
    display: flex;
}

.ProductCard{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 65vh;
    overflow: hidden;
}