.productCardContainer {
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
  transition: 0.3s;
  border-radius: 5px;
  background-color: #f4f4f4;
  display: flex;
  flex-direction: column;
  overflow: hidden;
  padding: 10px;
  /* Added padding for spacing */
}

.imageContainer {
  width: 100%;
  /* Adjusted to 100% for consistent sizing */
  display: flex;
  justify-content: center;
  /* Center the image */
  overflow: hidden;
  height: 10rem;
}

.imagePlaceholder {
  object-fit: cover;
  height: 150px;
  /* Fixed height */
  width: 180px;
  /* Fixed width */
}

/* Detail container */
.detailContainer {
  display: flex;
  flex-direction: column;
  padding: 10px;
  /* Added padding for spacing */
  font-size: 0.3em;
  /* Reduced font size */
}

.ProductPriceAndRatingContainer1 {
  display: flex;
  justify-content: space-between;
  /* Distributes space evenly */
}

.productRating {
  display: flex;
  align-items: center;
  margin-top: 5px;
  /* Adjust as needed */
  font-size: 10px;
}

.productRating b {
  margin-left: 5px;
}

/* Icon container */
.iconContainer {
  display: flex;
  justify-content: space-between;
  /* Distributes space evenly */
}

.icon {
  font-size: 22px;
  color: #333;
  margin: 10px;
  /* Uniform margin */
  cursor: pointer;
  transition: color 0.3s;
}

.icon:hover {
  color: #ff5733;
}